#app{
  /* CSS in #app is mostly for testing purposes */
  background: linear-gradient(to bottom, #ef7d00, #ffa33e);
  min-height: 1000px;
  padding: 20px 20px;
}
.container{
  display: flex;
  flex-direction: column;
  color:#fff;
  border: 4px solid #fff;
  padding: 10px 20px;
  font-family: 'Nunito', sans-serif;
}
.container .row{
  padding: 7.5px 5px;
}
.container .row .title {
  font-size: 26px;
  margin: 0;
}

.container .row .meta{

}

.meta .meta--time{
  margin: 0;
}

.ontime{
  color:#fff;
}

.delayed{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delay{
  color:red;
  text-decoration: line-through;
  padding-right: 5px; 
}
.deviation{
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
  width: 400px;
}

.departures{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:#fff;
  padding-bottom: 20px; 
}
.departure{
  border: 3px solid #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0;
}

.departure--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.line-number{
  border:2px solid #fff;
  vertical-align: baseline;
  padding: 2px 10px;
  margin-right: 20px;
}
.trains .line-number {
  background: #ec619f;
}
.buses .line-number{
  background: #d71d24;
}
.line-icon{
  width: auto;
  height: 30px;
  vertical-align: middle;
  padding-bottom: 1px;
}