.container{
  display: flex;
  flex-direction: column;
  border: 2px solid hsl(0, 0%, 90%);
}
.container .row{
  padding: 10px 5px;
}
.container .row .title {
  font-size: 22px;
}
.delay{
  color:red;
  text-decoration: line-through;
}